@model IEnumerable<Produto>
@{
    ViewData["Title"] = "Produtos";
}
<h2 class="alert alert-info">@ViewData["Title"]</h2>

@foreach(var produto in Model)
{
    <h3>@produto.Nome</h3>
    <img src="~/images/@produto.Imagem" style="height: 150px;"/>
    <hr />
}